.header {
  align-items: center;
  background: white;
  font-family: 'Lato', sans-serif;
  color: black;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}
.Logo{
  font-family: 'Mada', sans-serif;
  font-size: 78px;
  margin: 0%;
  color: black;
  text-decoration-color: red;
}
.header__menu {
    margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: black;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: none;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}



@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mada:200&display=swap');;